<header class="relative w-full md:flex flex-row justify-between border-4 border-[#ff5599]">
  <div class="floating-particles absolute top-0 left-0 w-full h-full z-0 pointer-events-none overflow-hidden"></div>
  <div class="flex justify-between items-center p-2">
    <a href="{{ routes.root_url }}" aria-label="Barbie Home">
       <img class="nav__logo" src="{{ 'logo.svg' | asset_url }}" alt="Barbie Logo" width="80" height="20">
    </a>
    <button id="burger" class="cursor-pointer md:hidden">
      <img src="{{ 'burger.svg' | asset_url }}" class="js-burger-icon" width="50" height="50">
      <img src="{{ 'cross.svg' | asset_url }}" class="js-burger-cross hidden" width="40" height="40">
    </button>
  </div>

  <nav class="nav">
    <ul class="js-nav-list hidden flex-col md:flex flex-row text-center justify-between gap-2 items-center md:items-start w-full p-6 lg:gap-20">
      {% for item in linklists["main-menu"].links %}
        
        <li class="item text-center relative {% if item.links != blank %}has-dropdown{% endif %}">
          <a href="{{ item.url }}" class=" text-[#ff5599] nav-link text-[32px] hover:opacity-70">{{ item.title }}</a>
        {% if item.links != blank %}
          <ul class="js-item-sub absolute visibility-hidden flex flex-col items-center bg-white p-5 w-[200px] left-1/2 top-[50px] transform -translate-x-1/2 shadow-md rounded z-10 absolute md:left-1/2 md:top-[50px] md:transform md:-translate-x-1/2">
            {% for item in item.links %}
              <li class="flex flex-col items-center {% if item.links != blank %}has-dropdown{% endif %}">
                <a href="{{ item.url }}" class="text-[#ff5599] nav-link hover:opacity-70">{{ item.title }}</a>
                {% if item.links != blank %}
                  <ul class="js-item-sub_sub visibility-hidden flex flex-col items-center">
                    {% for item in item.links %}
                      <li>
                        <a href="#" class="text-[#ff5599] nav-link hover:opacity-70">{{ item.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul> 
        {% endif %}
      </li>
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        <li class="item relative">
          <a href="{{ routes.account_login_url }}" class="text-[#ff5599] nav-link">Login</a>
        </li>
        <li class="item relative">
          <a href="{{ routes.account_register_url }}" class="text-[#ff5599] nav-link">Register</a>
        </li>
      {% endif %}
    </ul>
  </nav>

</header>
